[v-cloak] {
  display: none;
}
*{
  box-sizing: border-box;
}
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover{
    outline: none;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  min-width: 1000px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}

.clear:after{
  content: '';
  display: block;
  clear: both;
}


.line{
  height: 1px;
  background-color: #e0e6ed;
  margin: 20px -20px;
  transform: scaleY(0.5);
}

.data-filter{
  margin: 15px auto;
  .input-with-select{
    width: 400px;
    .el-select .el-input {
      width: 100px;
    }
    .el-select .el-input__inner:hover, .el-select .el-input__inner:active, .el-select .el-input__inner:focus{
      border-color: transparent;
    }
    .el-select{
      .el-input__inner{
        &:hover,&:active,&:focus{
          border-color: transparent !important;
        }
      }
    }
    .el-input__inner{
      &:hover,&:active,&:focus{
        border-color: #DCDFE6 !important;
      }
    }
  }

}


.pagination{
  margin: 15px auto;
}
.table-header th{
  background-color: #F2F6FC !important;
  color: #333;
}

.myml-header{
  padding: 0;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  .logo{
    border-bottom-color: transparent !important;
  }
  .logout{
    float: right;
  }
}
.myml-container{
  min-height: calc(100vh - 80px);
}
.myml-side-bar{
  max-width: 200px;
  width: auto;
  margin-left: 10px;
  border-radius: 4px;
  height: auto;
  overflow: hidden;
}

.myml-main{
  background: #fff;
  margin: 0 10px;
  padding: 20px;
  border-radius: 4px;
  height: auto;
  overflow: hidden;
}
